<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}View punches{% endblock %}</title>
    <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.3.0/pure-min.css">
    <style>
        body { padding: 1em; }
        form { margin-bottom: 1em;}
        form .pure-button, .pure-button-add { margin-top: 0.5em;}
        .pure-button-delete { background: salmon; color: white; }
        .pure-button-edit { background: skyblue; }
        .pure-button-add { background: lightgreen;}
        .error { background: salmon !important; }
    </style>
    {% block styles %}{% endblock %}
</head>
<body>
{% block content %}{% endblock %}
{% block scripts %}{% endblock %}
</body>
</html>