{% extends 'base.html' %}

{% block styles %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/default.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/default.date.css') }}">
{% endblock %}

{% block content %}
{% include 'partials/date-filter.html' %}
{% endblock %}

{% block scripts %}
<script src="http://codeorigin.jquery.com/jquery-2.0.3.min.js"></script>
<script src="{{ url_for('static', filename='js/picker.js') }}"></script>
<script src="{{ url_for('static', filename='js/picker.date.js') }}"></script>
<script src="http://cdnjs.cloudflare.com/ajax/libs/moment.js/2.2.1/moment.min.js"></script>
<script>
    $('#from, #to'). pickadate({
        format: 'mm/dd/yyyy'
    });

    $('.filters').on('click', '#from, #to', function() {

    });

    $('[type=submit]').on('click', function() {
        var $fromField = $('#from');
        var newFrom = moment($fromField.val() + ' 00:00:00', 'MM/DD/YYYY HH:mm:ss').utc().format('YYYY-MM-DD HH:mm:ss');
        $fromField.val(newFrom);

        var $toField = $('#to');
        var newTo = moment($toField.val() + ' 23:59:59', 'MM/DD/YYYY HH:mm:ss').utc().format('YYYY-MM-DD HH:mm:ss');
        $toField.val(newTo);

        $(this).parent().submit();
    });
    $('#from, #to').each(function() {
        var $this = $(this);
        if ($this.val()) {
            var newVal = moment.utc($this.val()).local().format('MM/DD/YYYY');
            $this.val(newVal);
        }
    });
</script>
{% endblock %}