{% extends 'date-picker.html' %}
{% block title %}Hour totals{% endblock %}
{% block content %}
{{ super() }}
    {% if total %}
        <table class="pure-table pure-table-striped">
                <thead>
                    <th>Name</th>
                    <th>Time</th>
                </thead>
            {% for name in people %}
                <tr>
                    <td{% if errors[name] %} class="error"{% endif %}>{{name}}</td>
                    <td>{{total[name]}}</td>
                </tr>
            {% endfor %}
        </table>
        <p>Names in <span class="error">red</span> have an outstanding punch for the specified timeframe. This time will not be included in the display above.</p>
    {% else %}
        <h3>Sorry. No totals.</h3>
    {% endif %}
{% endblock %}
{% block action %}/view/totals{% endblock %}
