{% extends 'date-picker.html' %}
{% block title %}Hour totals{% endblock %}
{% block content %}
<h1>Time Clock: Hour Totals</h1>
<div class="pure-menu pure-menu-horizontal pure-menu-open">
    <ul>
        <li><a href="/view/">All Punches</a></li>
        <li class="pure-menu-selected">Hour Totals</li>
    </ul>
</div>
{{ super() }}
    {% if total %}
        <table class="pure-table pure-table-striped">
                <thead>
                    <th>Name</th>
                    <th>Time</th>
                </thead>
            {% for name in people %}
                <tr>
                    <td{% if errors[name] %} class="error"{% endif %}>{{name}}</td>
                    <td>{{total[name]}}</td>
                </tr>
            {% endfor %}
        </table>
        <p>Names in <span class="error">red</span> have an outstanding punch for the specified timeframe. This time will not be included in the display above.</p>
    {% else %}
        <h3>Sorry. No totals.</h3>
    {% endif %}
{% endblock %}
{% block action %}/view/totals{% endblock %}
