{% extends 'date-picker.html' %}
{% block title %}View punches{% endblock %}
{%block content %}
<h1>Time Clock: All Punches</h1>
<div class="pure-menu pure-menu-horizontal pure-menu-open">
    <ul>
        <li class="pure-menu-selected">All Punches</li>
        <li><a href="/view/totals/">Hour Totals</a></li>
    </ul>
</div>
{{ super() }}
    {% if punches %}
        <table class="pure-table pure-table-striped">
                <thead>
                    <th></th>
                    <th>Time</th>
                    <th>Name</th>
                    <th>Status</th>
                </thead>
            {% for punch in punches %}
                <tr>
                    <td><a href="/edit/{{ punch.id }}" class="pure-button pure-button-edit">Edit</a></td>
                    <td>{{momentjs(punch.time).format('MM-DD-YYYY hh:mm A')}}</td>
                    <td>{{punch.name}}</td>
                    <td>{{punch.status}}</td>
                </tr>
            {% endfor %}
        </table>
    {% else %}
        <h3>No punches have been recorded.</h3>
    {% endif %}
    <a href="/add/" class="pure-button pure-button-add">Add a punch</a>
{% endblock %}
{% block action %}/view/{% endblock %}
