{% extends 'date-picker.html' %}
{% block title %}View punches{% endblock %}
{%block content %}
{{ super() }}
    {% if punches %}
        <table class="pure-table pure-table-striped">
                <thead>
                    <th></th>
                    <th>Time</th>
                    <th>Name</th>
                    <th>Status</th>
                </thead>
            {% for punch in punches %}
                <tr>
                    <td><a href="/edit/{{ punch.id }}" class="pure-button pure-button-edit">Edit</a></td>
                    <td>{{punch.time.strftime('%m-%d-%Y %I:%M %p')}}</td>
                    <td>{{punch.name}}</td>
                    <td>{{punch.status}}</td>
                </tr>
            {% endfor %}
        </table>
    {% else %}
        <h3>No punches have been recorded.</h3>
    {% endif %}
    <a href="/add/" class="pure-button pure-button-add">Add a punch</a>
{% endblock %}
{% block action %}/view/{% endblock %}
